:host {
    width: 100% ;
    display: flex;
}
.workspace-card {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2) !important;
    border-radius: 4px !important;
    margin: 0 7px 15px;
    overflow: hidden;
    padding: 0;
    flex: 1; 
}

.workspace-card .mat-card-header .mat-card-title {
    margin: 16px 0;
    padding-left: 6px;
    font-size: 15px;
}

.workspace-card table {
    width: 100%;
}

.workspace-card tr.mat-header-row {
    height: 44px;
}

.workspace-card .mat-cell {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.workspace-card .mat-header-cell {
    font-size: 11px;
}

@media screen and (max-width: 1160px) {

    .workspace-card table::ng-deep .mat-sort-header-button {
        text-align: left; 
    }
}

@media screen and (max-width: 900px) {
    .workspace-card {
        margin-left: 0;
        margin-right: 0;        
    }

    .workspace-card .mat-cell {
        font-size: 11px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@media screen and (max-width: 700px) {
    .workspace-card .mat-card-header .mat-card-title {
        font-size: 14px !important;
        padding-left: 0 !important;
    }
    .workspace-card td.mat-cell:first-of-type, 
    .workspace-card td.mat-footer-cell:first-of-type, 
    .workspace-card th.mat-header-cell:first-of-type {
        padding-left: 14px;
    }
    .workspace-card td.mat-cell:last-of-type, 
    .workspace-card td.mat-footer-cell:last-of-type, 
    .workspace-card th.mat-header-cell:last-of-type {
        padding-right: 4px;
    }
    .feedbackElement .thumbText {
        font-size: 9px;
    }
    .workspace-card .mat-header-cell {
        font-size: 9px;
    }
}

@media screen and (max-width: 440px) {
    .workspace-card .mat-cell {
        font-size: 10px;
    }
    .workspace-card .mat-card-header .mat-card-title {
        font-size: 13px;
    }
}