
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$arttha-angular-app-primary: mat-palette($mat-blue);
// $arttha-angular-app-accent: mat-palette($mat-red, A200, A100, A400);
$arttha-angular-app-accent: mat-palette($mat-green);
// The warn palette is optional (defaults to red).
$arttha-angular-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$arttha-angular-app-theme: mat-light-theme($arttha-angular-app-primary, $arttha-angular-app-accent, $arttha-angular-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($arttha-angular-app-theme);

// global color variables 
$primary: mat-color($arttha-angular-app-primary);
$accent-900: mat-color($arttha-angular-app-accent, 900);
$accent: mat-color($arttha-angular-app-accent);
$warn: mat-color($arttha-angular-app-warn, 600);
$warn-500: mat-color($arttha-angular-app-warn);

